
.voadora-header {
  display: flex;
  height: 460px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: url('/assets/svg/coqueiros.svg#opacity') no-repeat center,
              linear-gradient(30deg, #FF44F3 0%, #F8BD94 80%),
  -webkit-linear-gradient(30deg, #FF44F3 0%, #F8BD94 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF44F3', endColor='#F8BD94');
  background-size: cover;
}

/* Header logo e assinatura */
.logo-assinatura {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 150px;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.1);
}

.assinatura {
  height: 50px;
}

/* Social media nav links */
.nav-links {
  margin-top: 1.5rem;
}

.media-link {
  color: #fff;
  font-size: 1rem;
  margin-right: 5px;
  text-decoration: none;
}

.sociais {
  font-size: 1.5em;
  margin: 0 0.3em;
  transition: transform .1s;
}

.sociais:hover {
  transform: scale(1.5)
}

/* Custom Buttom */
.button-group {
  display: flex;
  margin-bottom: 0.75rem;
}

.super-button {
  font-family: 'Alata', sans-serif;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 175px;
  border: 1px solid #fff;
  background-color: transparent;
  margin: 1em 2em;

  outline: none;
  background: rgba(255, 255, 255, 0.2);
}

.super-button span {
  color: #fff;
  font-size: 1rem;
}

.super-button:hover {
  animation: rotate 0.7s ease-in-out both;
  background: rgba(255, 255, 255, 0.35);
}
.super-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0%   { transform: rotate(0deg) translate3d(0, 0, 0) }
  25%  { transform: rotate(3deg) translate3d(0, 0, 0) }
  50%  { transform: rotate(-3deg) translate3d(0, 0, 0) }
  75%  { transform: rotate(1deg) translate3d(0, 0, 0) }
  100% { transform: rotate(0deg) translate3d(0, 0, 0) }
}

@keyframes storm {
  0%   { transform: translate3d( 0, 0, 0) translateZ(0) }
  25%  { transform: translate3d( 4px, 0, 0) translateZ(0) }
  50%  { transform: translate3d( -3px, 0, 0) translateZ(0) }
  75%  { transform: translate3d( 2px, 0, 0) translateZ(0) }
  100% { transform: translate3d( 0, 0, 0) translateZ(0) }
}
