<header class="voadora-header header-bg">
  <div>
    <a href="#" class="media-link">
      <i class="fab fa-instagram sociais"></i>
    </a>
    <a href="#" class="media-link">
      <i class="fab fa-spotify sociais"></i>
    </a>
    <a href="#" class="media-link">
      <i class="fab fa-youtube sociais"></i>
    </a>
    <a href="#" class="media-link">
      <i class="fas fa-rss-square sociais"></i>
    </a>
  </div>


  <div class="logo-assinatura">
    <img class="logo" src="assets/svg/logo.svg">
    <img class="assinatura animated jackInTheBox" src="assets/svg/assinatura.svg">
  </div>

  <div class="button-group">
    <button class="super-button">
      <span>Home</span>
    </button>
    <button class="super-button">
      <span>Contato</span>
    </button>
  </div>
</header>

