<header class="voadora-header">
  <div>
    <a href="#" class="media-link">
      <i class="fab fa-instagram sociais"></i>
    </a>
    <a href="#" class="media-link">
      <i class="fab fa-spotify sociais"></i>
    </a>
    <a href="#" class="media-link">
      <i class="fab fa-youtube sociais"></i>
    </a>
    <a href="#" class="media-link">
      <i class="fas fa-rss-square sociais"></i>
    </a>
  </div>

  <div class="logo-assinatura">
    <img class="logo" src="assets/svg/logo.svg">
    <img class="assinatura animated jackInTheBox" src="assets/svg/assinatura.svg">
  </div>

  <div>
    <button>Home</button>
    <button>Contato</button>
  </div>
</header>
